<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html class="no-js" lang="pt-br" dir="ltr">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->

    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">	
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>Template Email</title>
    </head>
    
    <body>
        <h1>Hey #CLIENT_NAME#</h1>
        <p>Your order has been arrived #CLIENT_DOCUMENT#</p>
        <p>#DATE#</p>
        <br>
        <br>
        <h2>Protocol: #SERVICE_PROTOCOL#</h2>
    </body>
</html>


